/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body
{
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden; 
}
body{
  overflow-x: hidden;
  direction: rtl;
  width: 100%;
}
.wrap{
    margin: 0 auto ;
    width: 80%;
}
.wrap h1 {
  text-align: center;
  padding-top:10%;
  font-size: 32px;
  font-weight: bolder;
}
.mg-right{
  display: block;
  margin-right: 20px;

}

.mg-left{
  display: block;
  margin-left: 20px;
}


@media only screen and (max-width: 780px) {
  .mg-right {
  display: none;
  }

  .center {
    display: none;
    }

    
.mg-left{
   margin:0 auto ; 
   text-align: center;
}
}

.rtl{
  direction: rtl;
}
.wd{
  width: 100%;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.grid-item{
  align-items: center;

}

.desc{
  padding: 5%;
  font-size: 18px;
  text-align: right;
  width: 100%;
}
.serbox{
  padding:20px;
  text-align: center;
}
ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: bolder;
  color:#30475e;
}


.imgIcon{
  margin-top: 30%;
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
border: black 2px dashed;
border-radius: 30%;
}
#red{
  color:white;
  background-color: #30475e;
  padding:10px 0 ; 
}
p{
  color:#30475e;
  font-size: 18px;
  line-height: 1.5;
  word-spacing: 10px;
  font-weight: 900;
}
h1{
  color:#222831;
  font-weight: 900;

}
.wicon{
  height: 50px;
  width: 50px;
  border-radius:80%;
  border: chartreuse 5px dotted;
}
#contencMe{
  background-color: rgba(128, 255, 0, 0.144);
  position: fixed ;
  bottom:20%;
  left:0 ; 
  height: 50px;
  width: 150px;
  display: inline-block;
}

#contencMe a {
  color:chartreuse;
  font-weight: 900;
}
.bl{
  background-color: #30475e;
}
.c{
  text-align: none;
  color:black;
}